﻿@model Auth.Models.Projects
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Project</h2>
<form id="newProject">
    <div id="errormessage" style="color:red; font-size: 120%"> </div>
    <div class="form-group">
        <label>Name</label>
        <div class="tt-container">
            <input id="name" name="name" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <div class="tt-container">
            <input id="description" name="description" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Budget</label>
        <div class="tt-container">
            <input id="budget" name="budget" type="number" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <div class="tt-container">
            <input id="deadline" name="deadline" required type="date" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Duration</label>
        <div class="tt-container">
            <input id="duration" name="duration" data-rule-validName="true" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <div class="tt-container">
            <input id="startdate" name="startdate"  type="date" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>End Date</label>
        <div class="tt-container">
            <input id="enddate" name="enddate"  type="date" value="" class="form-control" />
        </div>
    </div>
    @*@using (Html.BeginForm("SaveProject", "Api/Project"))
        {
            Html.AntiForgeryToken();
            Html.ValidationSummary("true", "Please fix the following errors: ");

            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Budget)
                @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Budget)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Deadline)
                @Html.TextBoxFor(m => m.Deadline, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Deadline)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Duration)
                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Duration)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate)
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>*@
        @*<div class="form-group">
                @Html.TextAreaFor(m => m.Tags, new {@id = "tag" })
                @Html.ValidationMessageFor(m => m.Tags)
            </div>*@

    <div class="form-group">
        <label>Tags</label>
        <div class="tt-container">
            <input id="tags" name="tags" required type="text" value="" class="form-control" placeholder="Enter a tag" />
        </div>
    </div>
    <ul id="tag">
    </ul>
    @*<div class="col-md-4 col-sm-4">
            <ul id="tag" class="list-group"></ul>
        </div>*@

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button><br /> <a href="/Project">Cancel</a>
</form>
@*}*@
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    <script>

        $(document).ready(function () {
            //$("#tagbutton").click(function () {
            //    $("#tag").append("<li>" + $("#tags").val() + "</li>");
            //});
            var TagIds = [];
            var tags = new Bloodhound({ //Bloodhound calls the backend API
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/project/GetTags?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#tags').typeahead({
                minLength: 2,
                highlight: true
            }, {
                    name: 'tags',
                    display: 'Name',
                    source: tags
                }).on("typeahead:select", function (e, tag) {
                    $("#tag").append("<li>" + tag.Name + "</li>");
                    //$("#tags").typeahead("val", "");
                    TagIds.push(tag.Id);
                });
            //$.validator.addMethod("selectTag", function () {
            //    return vm.TagIds.length > 0
            //}, "Please select atleast one tag")
            //var form = $("#name").val();
            //var validator = $("#newProject").validate({

            //    submitHandler: function (e) {
            //        e.preventDefault();
            //        $.ajax({
            //            url: "/api/project",
            //            type: "post",
            //            data: vm, form
            //        })
            //            .done(function () {
            //                window.location.replace("/Project/Index");
            //            })
            //            .fail(function (xhr, textStatus, errorThrown) {
            //                toastr.error(xhr.responseText);
            //                validator.resetForm();
            //            });
            //        return false;
            //    }

            //});
            $("form").submit(function (e) {
                e.preventDefault();
                var errorMessage = "";
                var fieldmissing = "";
                if ($("#name").val() == "") {
                    fieldmissing += "<br>Name";
                }
                if ($("#description").val() == "") {
                    fieldmissing += "<br>Description";
                }
                if ($("#deadline").val() == "") {
                    fieldmissing += "<br>Deadline";
                }
                if ($("#tags").val() == "") {
                    fieldmissing += "<br>Tags";
                }
               
                if (fieldmissing != "") {
                    errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
                    $("#errormessage").html(errorMessage);
                }

                else {

                    $.ajax({
                        url: "/api/project/SaveProject",
                        type: "post",
                        data: {

                            Name: $("#name").val(), Description: $("#description").val(), Budget: $("#budget").val()
                            , Deadline: $("#deadline").val(), Duration: $("#duration").val(), StartDate: $("#startdate").val(), EndDate: $("#enddate").val()
                            , TagIds: TagIds
                        }
                    })
                        .done(function () {
                            window.location.replace("/Project/Index");
                        })
                        .fail(function (xhr, textStatus, errorThrown) {
                            toastr.error(xhr.responseText);
                            validator.resetForm();
                        });
                    return false;
                }
                });
        
        });

    </script>
}
