﻿@model Auth.ViewModel.ProjectDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<h2>Project Details</h2>
<b>Name: </b> <p>@Model.Projects.Name</p>
<b>Description: </b> <p>@Model.Projects.Description</p>
<b>Budget: </b> <p>@Model.Projects.Budget</p>
<b>Duration: </b> <p>@Model.Projects.Duration </p>
<b>Deadline: </b> <p>@Model.Projects.Deadline.ToShortDateString() </p>
<b>Start Date: </b> <p>@Model.Projects.StartDate </p>
<b>End Date: </b> <p>@Model.Projects.EndDate </p>
<b>Tags: </b>
<ul>
    @foreach (var ss in Model.Tag)
    {
        <li>@ss.Name</li>
    }
</ul>
