﻿@model Auth.ViewModel.ProjectDetailViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form id="idk">
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary("true", "Please fix the following errors: ")*@
    @*<label>Name</label>*@
    @*<div class="form-group">*@
    @*  <input type="text" id="name" name="name" class="form-control" required value="@Model.Name" />*@
    @*@Html.LabelFor(m => m.Projects.Name)
            @Html.TextBoxFor(m => m.Projects.Name, new { @class = "form-control", @id = "name" })
            @Html.ValidationMessageFor(m => m.Projects.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Projects.Description)
            @Html.TextBoxFor(m => m.Projects.Description, new { @class = "form-control", @id = "description" })
            @Html.ValidationMessageFor(m => m.Projects.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Projects.Budget)
            @Html.TextBoxFor(m => m.Projects.Budget, new { @class = "form-control", @id = "budget" })
            @Html.ValidationMessageFor(m => m.Projects.Budget)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Projects.Deadline)
            @Html.TextBoxFor(m => m.Projects.Deadline, new { @class = "form-control", @id = "deadline" })
            @Html.ValidationMessageFor(m => m.Projects.Deadline)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Projects.Duration)
            @Html.TextBoxFor(m => m.Projects.Duration, new { @class = "form-control", @id = "duration" })
            @Html.ValidationMessageFor(m => m.Projects.Duration)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Projects.StartDate)
            @Html.TextBoxFor(m => m.Projects.StartDate, new { @class = "form-control", @id = "startdate" })
            @Html.ValidationMessageFor(m => m.Projects.StartDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Projects.EndDate)
            @Html.TextBoxFor(m => m.Projects.EndDate, new { @class = "form-control", @id = "enddate" })
            @Html.ValidationMessageFor(m => m.Projects.EndDate)
        </div>*@
    <div id="errormessage" style="color:red; font-size: 120%"> </div>
    <div class="form-group">
        <label>Name</label>
        <div class="tt-container">
            <input id="name" name="name" required type="text" value="@Model.Projects.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <div class="tt-container">
            <input id="description" name="description" required type="text" value="@Model.Projects.Description" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Budget</label>
        <div class="tt-container">
            <input id="budget" name="budget" type="number" value="@Model.Projects.Budget" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <div class="tt-container">
            <input id="deadline" name="deadline" required type="date" value="@Model.Projects.Deadline.ToShortDateString()" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Duration</label>
        <div class="tt-container">
            <input id="duration" name="duration" type="text" value="@Model.Projects.Duration" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <div class="tt-container">
            <input id="startdate" name="startdate" type="date" value="@Model.Projects.StartDate" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>End Date</label>
        <div class="tt-container">
            <input id="enddate" name="enddate" type="date" value="@Model.Projects.EndDate" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="Id" name="id" value="@Model.Projects.Id" class="form-control" />
    </div>
    <ul id="tagval">
        @foreach (var ss in Model.Tag)
        {
            <li id="tagvalue">@ss.Name</li>

            @*<input type="text" class="edit-input form-control" name ="tagname" id="tagname" value="@ss.Name" />
                <a class="edit" href="#">Edit</a>*@

        }
    </ul>
    <br />
    <input type="text" class="edit-input form-control" name="tagname" id="tagname" />
    <br />
    <a class="edit" href="#">Add a Tag</a>
    <br />
    <button id="button" type="button">Submit</button> 
    <br /><a href="/Project">Cancel</a>

</form>

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/plugins")
        <script>
            $('a.edit').click(function () {
                var dad = $(this).parent().parent();
                //dad.find('li').hide();
                dad.find('.edit-input').show().focus();
            });
            //$('.edit-input').focusout(function () {
            //    var dad = $(this).parent();
            //    $(this).hide();
            //    dad.find('li').show();
            //});
            var TagIds = [];
            var TagNames = [];
            var tags = new Bloodhound({ //Bloodhound calls the backend API
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/project/?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            //$('.edit-input').click(function () {   /////////////////////////////For editing tags
            //    TagNames.push($('#tagname').val());
            //});

            $('.edit-input').typeahead({
                minLength: 2,
                highlight: true
            }, {
                    name: 'tags',
                    display: 'Name',
                    source: tags
                })
                .on("typeahead:select", function (e, tag) {
                    $("#tagname").typeahead("val", "");
                    $("#tagval").append("<li>" + tag.Name + "</li>")
                    TagIds.push(tag.Id);
                   
                });
           
            $("#button").on("click", function () {
                var errorMessage = "";
                var fieldmissing = "";
                if ($("#name").val() == "") {
                    fieldmissing += "<br>Name";
                }
                if ($("#description").val() == "") {
                    fieldmissing += "<br>Description";
                }
                if ($("#deadline").val() == "") {
                    fieldmissing += "<br>Deadline";
                }
                if ($("#tags").val() == "") {
                    fieldmissing += "<br>Tags";
                }

                if (fieldmissing != "") {
                    errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
                    $("#errormessage").html(errorMessage);
                }

                else {
                    $.ajax({
                        url: "/api/Project/EditProject",
                        type: "Post",
                        data: {
                            Name: $("#name").val(), Description: $("#description").val(), Budget: $("#budget").val()
                            , Deadline: $("#deadline").val(), Duration: $("#duration").val(), StartDate: $("#startdate").val(), EndDate: $("#enddate").val()
                            , TagIds: TagIds, Id: $("#Id").val()
                        }
                    }).done(function () {
                        window.location.replace("/Project/Index");
                    })
                        .fail(function (xhr, textStatus, errorThrown) {
                            toastr.error(xhr.responseText);
                            //validator.resetForm();
                        });
                }  
            });

        </script>
    }
