﻿@model IEnumerable<Auth.Models.Projects>
@{
    ViewBag.Title = "Index";
}

<h2>Available Projects</h2>

<ul>
    @foreach (var ss in Model)
    {
        if (HttpContext.Current.Request.Url.AbsolutePath == "/Project")
        {
            <li><a href="Project/Detail/@ss.Id">@ss.Name</a> <pre><a href="Project/Edit/@ss.Id">Edit</a></pre> <pre><a href="Project/Delete/@ss.Id">Delete</a></pre></li>

        }
        else
        {
            <li><a href="Detail/@ss.Id">@ss.Name</a><pre><a href="Edit/@ss.Id">Edit</a></pre> <pre><a href="Delete/@ss.Id">Delete</a></pre></li>

        }
    }
</ul>
@if (HttpContext.Current.Request.Url.AbsolutePath == "/Project")
{
    <form action="Project/Add">
        <input type="submit" value="Add a Project" />
    </form>
}
else
{
    <form action="Add">
        <input type="submit" value="Add a Project" />
    </form>

}


