﻿@model Auth.ViewModel.DevDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Developer.Name</h2>
<b>Area of Expertise: </b><p>@Model.Developer.Expertise</p>
<b>Experience: </b><p>@Model.Developer.Experience</p>
<b>Qualification: </b><p>@Model.Developer.Qualification</p>
<b>Skills: </b>
<ul>
    @foreach (var ss in Model.Tag)
    {
        <li>@ss.Name</li>
    }
</ul>
<b>Available From: </b><p>@Model.Developer.AvailableFrom.ToShortDateString()</p>
<b>Available Till: </b><p>@Model.Developer.AvailableTill.ToShortDateString()</p>
<b>Email: </b><p>@Model.Developer.Email</p>

