﻿@model Auth.ViewModel.DevDetailViewModel
@{
    ViewBag.Title = "Add";
}

@*@using (Html.BeginForm("Save", "Dev"))
    {

<div id="required" style="color:red; font-size: 120%;"></div>
        @Html.AntiForgeryToken();
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "name" })
    @Html.ValidationMessageFor(m => m.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Experience)
    @Html.TextBoxFor(m => m.Experience, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Experience)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Expertise)
    @Html.TextBoxFor(m => m.Expertise, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Expertise)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Qualification)
    @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Qualification)
</div>
        @*<div class="form-group">
    @Html.LabelFor(m => m.Skills)
    @Html.TextBoxFor(m => m.Skills, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Skills)
</div>*@
@*<div class="form-group">
    @Html.LabelFor(m => m.AvailableFrom)
    @Html.TextBoxFor(m => m.AvailableFrom, new { @class = "form-control", @placeholder = "Enter a date", @id = "avfrom" })
    @Html.ValidationMessageFor(m => m.AvailableFrom)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AvailableTill)
    @Html.TextBoxFor(m => m.AvailableTill, new { @class = "form-control", @placeholder = "Enter a date", @id = "avtill" })
    @Html.ValidationMessageFor(m => m.AvailableTill)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
    @Html.ValidationMessageFor(m => m.Email)
</div>
*@
<h2>Edit a Developer</h2>

<form id="newDev">
    <div id="errormessage" style="color:red; font-size: 120%"> </div>
    <div class="form-group">
        <label>Name</label>
        <div class="tt-container">
            <input id="name" name="name" required type="text" value="@Model.Developer.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Expertise</label>
        <div class="tt-container">
            <input id="expertise" name="expertise" type="text" value="@Model.Developer.Expertise" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Experience</label>
        <div class="tt-container">
            <input id="experience" name="experience" type="text" value="@Model.Developer.Experience" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Qualification</label>
        <div class="tt-container">
            <input id="qualification" name="qualification" type="text" value="@Model.Developer.Qualification" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Available From</label>
        <div class="tt-container">
            <input id="avfrom" name="avfrom" required type="date" value="@Model.Developer.AvailableFrom" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Available Till</label>
        <div class="tt-container">
            <input id="avtill" name="avtill" required type="date" value="@Model.Developer.AvailableTill" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <div class="tt-container">
            <input id="email" name="email" required type="email" value="@Model.Developer.Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="Id" name="id" value="@Model.Developer.Id" class="form-control" />
    </div>
    <label>Skills:</label>
    <ul id="tagval">
        @foreach (var ss in Model.Tag)
        {
            <li id="tagvalue">@ss.Name</li>

            @*<input type="text" class="edit-input form-control" name ="tagname" id="tagname" value="@ss.Name" />
                <a class="edit" href="#">Edit</a>*@

        }
    </ul>
    <br />
    <input type="text" class="edit-input form-control" name="tagname" id="tagname" placeholder="Choose your skill"/>
    <br />
    <a class="edit" href="#">Add a Tag</a>
    <br />
  

    <button type="submit" class="btn btn-primary">Save</button>
    <br /><a href="/Dev">Cancel</a>

</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
<script>

    $(document).ready(function () {
        //$("#tagbutton").click(function () {
        //    $("#tag").append("<li>" + $("#tags").val() + "</li>");
        //});
        $('a.edit').click(function () {
            var dad = $(this).parent().parent();
            //dad.find('li').hide();
            dad.find('.edit-input').show().focus();
        });
        var TagIds = [];
        var tags = new Bloodhound({ //Bloodhound calls the backend API
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/project/GetTags?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $('.edit-input').typeahead({
            minLength: 2,
            highlight: true
        }, {
                name: 'tags',
                display: 'Name',
                source: tags
            }).on("typeahead:select", function (e, tag) {
                $("#tagval").append("<li>" + tag.Name + "</li>");
                $("#tags").typeahead("val", "");
                TagIds.push(tag.Id);
                console.log(TagIds.toString());
            });

        $("form").submit(function (e) {
            e.preventDefault();
            var errorMessage = "";
            var fieldmissing = "";
            if ($("#name").val() == "") {
                fieldmissing += "<br>Name";
            }
            if ($("#avfrom").val() == "") {
                fieldmissing += "<br>Available From";
            }
            if ($("#avtill").val() == "") {
                fieldmissing += "<br>Available Till";
            }
            if ($("#email").val() == "") {
                fieldmissing += "<br>Email";
            }
            if (fieldmissing != "") {
                errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
                $("#errormessage").html(errorMessage);
            }

            else {

                $.ajax({
                    url: "/api/dev/EditDev",
                    type: "post",
                    data: {

                       Id: $("#Id").val(), Name: $("#name").val(), Expertise: $("#expertise").val(), Qualification: $("#qualification").val()
                        , Experience: $("#experience").val(), AvailableFrom: $("#avfrom").val(), AvailableTill: $("#avtill").val(), Email: $("#email").val()
                        , TagIds: TagIds
                    }
                })
                    .done(function () {
                        window.location.replace("/Dev/Index");
                    })
                    .fail(function (xhr, textStatus, errorThrown) {
                        toastr.error(xhr.responseText);
                        validator.resetForm();
                    });
                return false;
            }
        });

    });

</script>
}
