﻿@model IEnumerable<Auth.Models.Developers>
@{
    ViewBag.Title = "Index";
}

<h2>Developers</h2>

<ul>
    @foreach (var ss in Model)
    {
        if (HttpContext.Current.Request.Url.AbsolutePath == "/Dev")
        {
            <li><a href="Dev/Detail/@ss.Id">@ss.Name</a> <pre><a href="Dev/Edit/@ss.Id">Edit</a></pre> <pre><a href="Dev/Delete/@ss.Id">Delete</a></pre></li>
            
        }
        else
        {
            <li><a href="Detail/@ss.Id">@ss.Name</a><pre><a href="Edit/@ss.Id">Edit</a></pre> <pre><a href="Delete/@ss.Id">Delete</a></pre></li>
            
        }
    }
</ul>
@if (HttpContext.Current.Request.Url.AbsolutePath == "/Dev")
{
<form action="Dev/Add">
    <input type="submit" value="Add a Developer" />
</form>
}
else
{
<form action="Add">
    <input type="submit" value="Add a Developer" />
</form>

}