﻿@model Auth.ViewModel.RecomDevViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Recommended Developers</h2>
<ul>
    @if (Model.Developers.Count > 0)
    {
        foreach (var ss in Model.Developers)
        {
      <li><a href="/Dev/Detail/@ss.Id">@ss.Name</a></li>
        }
    }
    else
    {
        <p>No Developers found at this stage</p>
    }
</ul>
