﻿@model Auth.ViewModel.AssignEditViewModel
@{
    ViewBag.Title = "Edit";
}


@if (Model.Sample < 1)
{
    <h2>Assign Developer a Project</h2>
    <div id="errormessage" style="color:red; font-size: 120%"> </div>
    <form id="idk">
        <h3><b>@Model.Developer.Name</b></h3>
        <div class="form-group">
            <label>Project</label>
            <input type="text" id="proj" required class="form-control" />
        </div>
        <ul id="projvalue"></ul>
        <button type="submit" id="submit" class="btn-primary">Submit</button>
    </form>
  }
else
{
    <h2>Assigned Project</h2>
    <label>Developer:</label>
    <p>@Model.Developer.Name</p>
    <label>Project Name:</label> <br />
    <b>Name: </b> <p>@Model.Developer.ProjectName</p>
  
    <button type="submit" id="unas">Unassign Project?</button>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    <script>
        
        $("#unas").click(function () {
           
                $.ajax({
                    url: "/Api/Assign/Unassign",
                    type: "POST",
                    data:{

                       Id: @Model.Developer.Id
                    }
                }).done(function () {
                    window.location.replace("/Assign");
                }).fail(function (xhr, textStatus, ErrorThrown) {
                    toastr.error(xhr.responseText);
                });
        });
        
        var ProjectId = 0;
        var projs = new Bloodhound({ //Bloodhound calls the backend API
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/project/GetProjects?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $('#proj').typeahead({
            minLength: 2,
            highlight: true
        }, {
                name: 'projs',
                display: 'Name',
                source: projs
            }).on("typeahead:select", function (e, proj) {
                //$("#projvalue").append("<li>" + proj.Name + "</li>");
                //   $("#tags").typeahead("val", "");
                ProjectId = proj.Id;
                console.log(ProjectId.toString());
            });

        $("form").submit(function (e) {
            e.preventDefault();
            var errorMessage = "";
            var fieldmissing = "";

            if ($("#proj").val() == "") {
                fieldmissing += "<br>Project";
            }
            if (fieldmissing != "") {
                errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
                $("#errormessage").html(errorMessage);
            }

            else {

                $.ajax({
                    url: "/api/Assign/AssignProj",
                    type: "post",
                    data: {

                        DevId: @Model.Developer.Id, ProjId: ProjectId
                    }
                })
                    .done(function () {
                        window.location.replace("/Assign/Index");
                    })
                    .fail(function (xhr, textStatus, errorThrown) {
                        toastr.error(xhr.responseText);
                        validator.resetForm();
                    });
                return false;
            }

        });





    </script>

}