﻿@model Auth.ViewModel.AssignViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="mytable" class="table-bordered table table-hover">
    <thead>
        <tr>
            <td>Developers</td>
            <td>Assigned Project</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="trrow"></td>
        </tr>
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    <script>
        var table = $("#mytable").DataTable({
            ajax: {
                url: "Api/Dev/GetDev",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Name",
                    render: function (data, type, dev) {
                        return "<a href='/Assign/Edit/" + dev.Id + "'>" + dev.Name + "</a>";
                        
                    }
                },
                {
                    data: "ProjectName",
                    render: function (data, type, def) {
                        return data;
                        
                    }
                   
                },
        //    //    {
        //    //        data: "Id",
        //    //        render: function (data) {
        //    //            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
        //    //        }
        //    //    }
            ]
        });


    </script>
  }
